<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <input type="text" [(ngModel)]="searchQuery" class="searchText" placeholder="Search Text..">
    <ion-icon name="close-outline" (click)="closeClick()" class="closeIcon"></ion-icon>
    <ion-button (click)="handleChange(searchQuery)" style="margin-left: 10%; margin-top: -8px;">Search</ion-button>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <div>{{post.id}}</div>
      <ion-card>
        <ion-label class="titleText">{{post.title}}</ion-label>
        <ion-card-content class="bodyText">
          {{ post.body }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
